BOT_TWITCH_ID="" # the twitch id for your bot account
PRIMARY_ACCOUNT_TWITCH_ID="" # the twitch id for your primary account
TARGET_CHANNELS="" # comma separated list of channels you want your bot to listen to
BOT_SIGIL="" # a little icon in brackets, denotes your bot
BOT_NAME="" # user for logging, or anything you wish
BROADCASTER_NAME=""

# Database Credentials

DB_USER=""
DB_PASSWORD=""
DB_HOST=""
DB_PORT=""
DB_NAME=""

# Basic Command Text Replies

DISCORD=""
YOUTUBE=""
TWITTER=""
X=""
BLUESKY=""
GITHUB=""
THRONE=""
LURK=""
COMMANDS="discord, youtube, twitter, x, bluesky, throne, github, lurk"

# Specific Static Strings
OFFLINE_TITLE=""