TINYMICI_BOT_TWITCH_ID="" # the twitch id for your bot account
TINYMICI_BROADCASTER_TWITCH_ID="" # the twitch id for your broadcaster account
TINYMICI_TARGET_CHANNELS="" # comma separated list of channels you want your bot to listen to
TINYMICI_BOT_SIGIL="" # a little icon in brackets, denotes your bot
TINYMICI_BOT_NAME="" # user for logging, or anything you wish
TINYMICI_BROADCASTER_NAME=""

# Database Credentials

TINYMICI_DB_USER=""
TINYMICI_DB_PASSWORD=""
TINYMICI_DB_HOST=""
TINYMICI_DB_PORT=""
TINYMICI_DB_NAME=""

# Basic Command Text Replies

TINYMICI_DISCORD=""
TINYMICI_YOUTUBE=""
TINYMICI_TWITTER=""
TINYMICI_X=""
TINYMICI_BLUESKY=""
TINYMICI_GITHUB=""
TINYMICI_THRONE=""
TINYMICI_LURK=""
TINYMICI_COMMANDS="discord, youtube, twitter, x, bluesky, throne, github, lurk"

# Specific Static Strings

TINYMICI_OFFLINE_TITLE=""

# Mock CLI Credentials

TINYMICI_MOCK_CLIENT_ID=""
TINYMICI_MOCK_CLIENT_SECRET=""
TINYMICI_MOCK_USER_ID=""

# GreenHeat Values

TINYMICI_ENABLE_GREENHEAT=""
TINYMICI_GREENHEAT_WSS=""

# OBS Websocket Values
TINYMICI_OBS_WSS_PASSWORD=""
TINYMICI_OBS_WSS_PORT=""
TINYMICI_OBS_WSS_IP=""